body {
    padding-top: 15px;
    background-color: #e5edf1;
}

.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.footer {
    margin-top: 120px;
    padding-top: 15px;
    text-align: center;
    color: #777;
    border-top: 2px solid #e5e5e5;
}

/* https://css-tricks.com/examples/DragAndDropFileUploading/ */

.box {
    font-size: 21px;
    text-align: center;
    background-color: #c8dadf;
    margin-top: 50px;
    padding: 100px 20px;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.is-dragover {
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}

.box__icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

.box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__file + label {
    cursor: pointer;
}

.box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong {
    color: #39bfd3;
}

.box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: block;
    padding: 8px 16px;
    margin: 40px auto 0;
    border: none;
}

.box__button:hover,
.box__button:focus {
    background-color: #0f3c4b;
}
